# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

*.txt
gradle/wrapper/gradle-wrapper.jar
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties